In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [2]:
companies = db.companies.find()

In [3]:
import pandas as pd
df = pd.DataFrame(companies)
df = df[['name', 'number_of_employees', 'offices','funding_rounds', 'founded_year', \
         'deadpooled_year', 'total_money_raised', 'category_code',"tag_list"]]
df.head()

,name,number_of_employees,offices,funding_rounds,founded_year,deadpooled_year,total_money_raised,category_code,tag_list
0,AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '...",[],1996.0,2.0,$0,enterprise,
1,Wetpaint,47.0,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 888, 'round_code': 'a', 'source_url': ...",2005.0,1.0,$39.8M,web,"wiki, seattle, elowitz, media-industry, media-..."
2,Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '...",[],2005.0,3.0,$0,software,"zoho, officesuite, spreadsheet, writer, projec..."
3,Digg,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",2004.0,NaN,$45M,news,"community, social, news, bookmark, digg, techn..."
4,Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ...","[{'id': 225, 'round_code': 'angel', 'source_ur...",2005.0,2008.0,$800k,network_hosting,"storage, sharing, edit, online"

In [4]:
df.columns

Index(['name', 'number_of_employees', 'offices', 'funding_rounds',
       'founded_year', 'deadpooled_year', 'total_money_raised',
       'category_code', 'tag_list'],
      dtype='object')

In [5]:
import requests

currencies = requests.get("https://api.exchangeratesapi.io/latest?base=USD").json()

print(currencies)

{'rates': {'CAD': 1.3055728934, 'HKD': 7.8004458315, 'ISK': 126.348640214, 'PHP': 51.3419527419, 'DKK': 6.6545697726, 'HUF': 289.4872938029, 'CZK': 22.7454302274, 'GBP': 0.7991529202, 'RON': 4.2086491306, 'SEK': 9.4492197949, 'IDR': 14110.0044583148, 'INR': 68.5648684797, 'BRL': 3.8120374498, 'RUB': 63.7561301828, 'HRK': 6.5942933571, 'JPY': 108.6045474811, 'THB': 30.7748551048, 'CHF': 0.992153366, 'EUR': 0.8916629514, 'MYR': 4.1405260811, 'BGN': 1.7439144004, 'TRY': 5.7337494427, 'CNY': 6.8812304949, 'NOK': 8.6348640214, 'NZD': 1.5058403923, 'ZAR': 14.1607668301, 'USD': 1.0, 'MXN': 18.9550601872, 'SGD': 1.359518502, 'AUD': 1.4318323674, 'ILS': 3.5751226037, 'KRW': 1178.8408381632, 'PLN': 3.7922425323}, 'base': 'USD', 'date': '2019-07-08'}

In [6]:
def cleanToFloat(s):
    if "M" in s:
        s=s.replace("M","")
        return float(s)*1000000
    if "B" in s:
        s=s.replace("B","")
        return float(s)*1000000000
    if "k" in s:
        s=s.replace("k","")
        return float(s)*1000
    
def cleanMoney(s):
    if not s == None:
        if s.startswith("$"):
            return cleanToFloat(s.replace("$",""))
        elif s.startswith("€"):
            return int(cleanToFloat(s.replace("€",""))/currencies["rates"]["EUR"])
        elif s.startswith("C$"):
            return int(cleanToFloat(s.replace("C$",""))/currencies["rates"]["CAD"])
        elif s.startswith("£"):
            return int(cleanToFloat(s.replace("£",""))/currencies["rates"]["GBP"])
        elif s.startswith("¥"):
            return int(cleanToFloat(s.replace("¥",""))/currencies["rates"]["JPY"])
        elif s.startswith("kr"):
            return int(cleanToFloat(s.replace("kr",""))/currencies["rates"]["SEK"])
        else:
            return int(s)
    return int(s)

df_aux = df.copy()
df_aux["total_money_raised"] = df_aux["total_money_raised"].apply(cleanMoney)
df_aux["total_money_raised"].value_counts()

1000000.0      93
10000000.0     90
5000000.0      84
2000000.0      79
500000.0       62
3000000.0      57
6000000.0      52
100000.0       51
4000000.0      50
7000000.0      46
1500000.0      44
15000000.0     43
250000.0       43
12000000.0     39
20000000.0     38
8000000.0      34
2500000.0      34
11000000.0     33
30000000.0     31
25000000.0     30
9000000.0      30
40000000.0     27
16000000.0     27
600000.0       26
7500000.0      25
6500000.0      25
17000000.0     24
300000.0       23
50000.0        23
1200000.0      22
               ..
8010000.0       1
38300000.0      1
5920000.0       1
98900000.0      1
513000000.0     1
707000.0        1
38400000.0      1
385000.0        1
41043458.0      1
1610000.0       1
641000.0        1
4180000.0       1
4340000.0       1
24700000.0      1
6480000.0       1
2430000.0       1
3680000.0       1
355000.0        1
66168500.0      1
95000000.0      1
64600000.0      1
38900000.0      1
15641.0         1
1150000.0       1
8270000.0       1
2502.0          1
968000.0        1
9196300.0       1
555000000.0     1
75500000.0      1
Name: total_money_raised, Length: 1477, dtype: int64

In [7]:
df2 = pd.DataFrame(df.offices.tolist()).stack().reset_index(level=1, drop=True).rename('office')
df2

0        {'description': 'Headquarters', 'address1': '4...
1        {'description': '', 'address1': '710 - 2nd Ave...
1        {'description': '', 'address1': '270 Lafayette...
2        {'description': 'Headquarters', 'address1': '4...
3        {'description': None, 'address1': '135 Mississ...
4        {'description': '', 'address1': 'Suite 200', '...
5        {'description': None, 'address1': '959 Skyway ...
6        {'description': None, 'address1': '8536 Nation...
7        {'description': 'Headquarters', 'address1': '9...
8        {'description': None, 'address1': None, 'addre...
9        {'description': '', 'address1': '', 'address2'...
9        {'description': '', 'address1': '', 'address2'...
10       {'description': None, 'address1': '10960 Wilsh...
11       {'description': 'Lala Headquarters', 'address1...
12       {'description': '', 'address1': '407 N Maple D...
13       {'description': '', 'address1': '16935 W. Bern...
14       {'description': 'HQ', 'address1': '539 Bryant ...
15       {'description': None, 'address1': '', 'address...
16       {'description': '', 'address1': '', 'address2'...
17       {'description': '', 'address1': '100 5th Ave F...
18       {'description': 'HQ', 'address1': '1050 Enterp...
19       {'description': None, 'address1': '', 'address...
20       {'description': 'HQ', 'address1': '1515 Broadw...
21       {'description': '', 'address1': '1355 Market S...
22       {'description': 'Headquarters', 'address1': '1...
22       {'description': 'Europe HQ', 'address1': '', '...
22       {'description': 'New York', 'address1': '340 M...
23       {'description': 'Headquarters', 'address1': '2...
24       {'description': None, 'address1': '475 Brannan...
25       {'description': 'Corporate Headquarters', 'add...
                               ...
18765    {'description': 'Corporate Headquarters', 'add...
18766    {'description': 'Office', 'address1': 'Edifici...
18767    {'description': '', 'address1': '246 - 970 Bur...
18768    {'description': '', 'address1': '23811 Chagrin...
18769    {'description': '198 High Holborn', 'address1'...
18770    {'description': '', 'address1': '', 'address2'...
18770    {'description': '', 'address1': '', 'address2'...
18771    {'description': '', 'address1': 'Yevulim Compo...
18772    {'description': '', 'address1': '3700 Haven Co...
18773    {'description': 'Corporate Office', 'address1'...
18774    {'description': '', 'address1': '2635 North 1s...
18775    {'description': 'Headquarters', 'address1': ''...
18775    {'description': 'Menlo Park Office', 'address1...
18776    {'description': 'HQ', 'address1': '1350 Willow...
18777    {'description': '', 'address1': '39660 Eureka ...
18779    {'description': 'HQ', 'address1': 'Rue des Tan...
18783    {'description': 'Apex Finance & Marketing', 'a...
18784    {'description': '', 'address1': '115 5th Ave',...
18787    {'description': 'Created in London', 'address1...
18788    {'description': '', 'address1': '13280 NW Free...
18789    {'description': '', 'address1': '15 Exchange P...
18790    {'description': '', 'address1': '11875 Dublin ...
18791    {'description': '', 'address1': '2401 East Kat...
18793    {'description': '', 'address1': '200 Knickerbo...
18794    {'description': '', 'address1': 'LÃ¤rchenweg 7...
18795    {'description': 'Livingston', 'address1': 'P.O...
18796    {'description': '', 'address1': '400 Royal Pal...
18797    {'description': 'Indian Office', 'address1': '...
18799    {'description': '', 'address1': '', 'address2'...
18800    {'description': '', 'address1': '1900 Internat...
Name: office, Length: 16705, dtype: object

In [8]:
ndf = df_aux.merge(df2, left_index=True, right_index=True)
display(ndf)

,name,number_of_employees,offices,funding_rounds,founded_year,deadpooled_year,total_money_raised,category_code,tag_list,office
0,AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '...",[],1996.0,2.0,NaN,enterprise,,"{'description': 'Headquarters', 'address1': '4..."
1,Wetpaint,47.0,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 888, 'round_code': 'a', 'source_url': ...",2005.0,1.0,3.980000e+07,web,"wiki, seattle, elowitz, media-industry, media-...","{'description': '', 'address1': '710 - 2nd Ave..."
1,Wetpaint,47.0,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 888, 'round_code': 'a', 'source_url': ...",2005.0,1.0,3.980000e+07,web,"wiki, seattle, elowitz, media-industry, media-...","{'description': '', 'address1': '270 Lafayette..."
2,Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '...",[],2005.0,3.0,NaN,software,"zoho, officesuite, spreadsheet, writer, projec...","{'description': 'Headquarters', 'address1': '4..."
3,Digg,60.0,"[{'description': None, 'address1': '135 Missis...","[{'id': 1, 'round_code': 'b', 'source_url': 'h...",2004.0,NaN,4.500000e+07,news,"community, social, news, bookmark, digg, techn...","{'description': None, 'address1': '135 Mississ..."
4,Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ...","[{'id': 225, 'round_code': 'angel', 'source_ur...",2005.0,2008.0,8.000000e+05,network_hosting,"storage, sharing, edit, online","{'description': '', 'address1': 'Suite 200', '..."
5,Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",[],1999.0,NaN,NaN,web,,"{'description': None, 'address1': '959 Skyway ..."
6,Flektor,NaN,"[{'description': None, 'address1': '8536 Natio...",[],NaN,NaN,NaN,games_video,"flektor, photo, video","{'description': None, 'address1': '8536 Nation..."
7,Geni,18.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 6, 'round_code': 'a', 'source_url': ''...",2006.0,NaN,1.650000e+07,web,"geni, geneology, social, family, genealogy","{'description': 'Headquarters', 'address1': '9..."
8,Gizmoz,NaN,"[{'description': None, 'address1': None, 'addr...","[{'id': 9, 'round_code': 'a', 'source_url': 'h...",2003.0,NaN,1.810000e+07,web,"avatar, widget, 3d, facial, taylor","{'description': None, 'address1': None, 'addre..."
9,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",2002.0,NaN,1.850000e+07,web,"content-discovery, find, content, stumble, too...","{'description': '', 'address1': '', 'address2'..."
9,StumbleUpon,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 8, 'round_code': 'seed', 'source_url':...",2002.0,NaN,1.850000e+07,web,"content-discovery, find, content, stumble, too...","{'description': '', 'address1': '', 'address2'..."
10,Helio,NaN,"[{'description': None, 'address1': '10960 Wils...",[],2005.0,NaN,NaN,mobile,"mobile, helio, mvno","{'description': None, 'address1': '10960 Wilsh..."
11,Lala,NaN,"[{'description': 'Lala Headquarters', 'address...","[{'id': 16, 'round_code': 'b', 'source_url': '...",NaN,NaN,4.420000e+07,games_video,,"{'description': 'Lala Headquarters', 'address1..."
12,Fox Interactive Media,0.0,"[{'description': '', 'address1': '407 N Maple ...",[],1979.0,NaN,NaN,web,,"{'description': '', 'address1': '407 N Maple D..."
13,Slacker,NaN,"[{'description': '', 'address1': '16935 W. Ber...","[{'id': 12, 'round_code': 'b', 'source_url': '...",2006.0,NaN,7.310000e+07,music,,"{'description': '', 'address1': '16935 W. Bern..."
14,Scribd,50.0,"[{'description': 'HQ', 'address1': '539 Bryant...","[{'id': 10, 'round_code': 'seed', 'source_url'...",2007.0,NaN,2.580000e+07,news,"book-subscription, digital-library, netflix-fo...","{'description': 'HQ', 'address1': '539 Bryant ..."
15,MeetMoi,15.0,"[{'description': None, 'address1': '', 'addres...","[{'id': 18, 'round_code': 'a', 'source_url': '...",2007.0,NaN,5.580000e+06,social,"mobile, dating, location, realtime, phone","{'description': None, 'address1': '', 'address..."
16,Babelgum,NaN,"[{'description': '', 'address1': '', 'address2...","[{'id': 17, 'round_code': 'a', 'source_url': '...",2007.0,2013.0,1.320000e+07,games_video,"iptv, web2ireland","{'description': '', 'address1': '', 'address2'..."
17,Joost,0.0,"[{'description': '', 'address1': '100 5th Ave ...","[{'id': 19, 'round_code': 'a', 'source_url': '...",2006.0,NaN,4.500000e+07,games_video,"iptv, babelgum, television, video, thevenicepr...","{'description': '', 'address1': '100 5th Ave F..."
18,Plaxo,50.0,"[{'description': 'HQ', 'address1': '1050 Enter...","[{'id': 20, 'round_code': 'a', 'source_url': '...",2002.0,NaN,2.830000e+07,web,"contact-management, address-book, sync, contac...","{'description': 'HQ', 'address1': '1050 Enterp..."
19,CBS,NaN,"[{'description': None, 'address1': '', 'addres...",[],1986.0,NaN,NaN,news,None,"{'description': None, 'address1': '', 'address..."
20,Viacom,NaN,"[{'description': 'HQ', 'address1': '1515 Broad...",[],1971.0,NaN,NaN,web,None,"{'description': 'HQ', 'address1': '1515 Broadw..."
21,Twitter,1300.0,"[{'description': '', 'address1': '1355 Market ...","[{'id': 261, 'round_code': 'a', 'source_url': ...",2006.0,NaN,1.160000e+09,social,"text, messaging, social, community, twitter, t...","{'description': '', 'address1': '1355 Market S..."
22,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",2004.0,NaN,2.430000e+09,social,"facebook, college, students, profiles, network...","{'description': 'Headquarters', 'address1': '1..."
22,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",2004.0,NaN,2.430000e+09,social,"facebook, college, students, profiles, network...","{'description': 'Europe HQ', 'address1': '', '..."
22,Facebook,5299.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 2, 'round_code': 'angel', 'source_url'...",2004.0,NaN,2.430000e+09,social,"facebook, college, students, profiles, network...","{'description': 'New York', 'address1': '340 M..."
23,eBay,15000.0,"[{'description': 'Headquarters', 'address1': '...","[{'id': 24534, 'round_code': 'unattributed', '...",1995.0,NaN,6.700000e+06,web,"auction, bid, search, market","{'description': 'Headquarters', 'address1': '2..."
24,Powerset,60.0,"[{'description': None, 'address1': '475 Branna...","[{'id': 22, 'round_code': 'a', 'source_url': '...",2006.0,NaN,2.250000e+07,search,"searchengine, google, techcrunch40, natural-la...","{'description': None, 'address1': '475 Brannan..."
25,SpinVox,NaN,"[{'description': 'Corporate Headquarters', 'ad...","[{'id': 1849, 'round_code': 'c', 'source_url':...",NaN,NaN,1.060000e+08,messaging,voicetotext,"{'description': 'Corporate Headquarters', 'add..."
...,...,...,...,...,...,...,...,...,...,...
18765,NextLabs,100.0,"[{'description': 'Corporate Headquarters', 'ad...",[],2004.0,NaN,NaN,enterprise,,"{'description': 'Corporate Headquarters', 'add..."
18766,Xray Imatek,NaN,"[{'description': 'Office', 'address1': 'Edific...","[{'id': 7366, 'round_code': 'a', 'source_url':...",NaN,NaN,3.364500e+05,biotech,"x-ray-imaging, technology, radiation","{'description': 'Office', 'address1': 'Edifici..."
18767,Optemo,NaN,"[{'description': '', 'address1': '246 - 970 Bu...",[],NaN,NaN,NaN,web,"enterprise, search, navigation, recommendation...","{'description': '', 'address1': '246 - 970 Bur..."
18768,iGuiders,5.0,"[{'description': '', 'address1': '23811 Chagri...","[{'id': 7365, 'round_code': 'unattributed', 's...",2008.0,NaN,1.170000e+06,web,,"{'description': '', 'address1': '23811 Chagrin..."
18769,acrossair,6.0,"[{'description': '198 High Holborn', 'address1...",[],2009.0,NaN,NaN,mobile,"iphone, games, augmented-reality","{'description': '198 High Holborn', 'address1'..."
18770,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",2011.0,NaN,1.940000e+07,education,"online-education, education, programming, web-...","{'description': '', 'address1': '', 'address2'..."
18770,Treehouse,55.0,"[{'description': '', 'address1': '', 'address2...","[{'id': 25988, 'round_code': 'seed', 'source_u...",2011.0,NaN,1.940000e+07,education,"online-education, education, programming, web-...","{'description': '', 'address1': '', 'address2'..."
18771,SolarPower Israel,NaN,"[{'description': '', 'address1': 'Yevulim Comp...","[{'id': 7370, 'round_code': 'unattributed', 's...",NaN,NaN,1.100000e+06,cleantech,,"{'description': '', 'address1': 'Yevulim Compo..."
18772,Cantimer,NaN,"[{'description': '', 'address1': '3700 Haven C...","[{'id': 7369, 'round_code': 'a', 'source_url':...",2006.0,NaN,2.000000e+06,None,,"{'description': '', 'address1': '3700 Haven Co..."
18773,Cameron Health,NaN,"[{'description': 'Corporate Office', 'address1...","[{'id': 7368, 'round_code': 'e', 'source_url':...",2001.0,NaN,1.210000e+08,medical,,"{'description': 'Corporate Office', 'address1'..."
18774,Celestial Semiconductor,NaN,"[{'description': '', 'address1': '2635 North 1...","[{'id': 7371, 'round_code': 'unattributed', 's...",2004.0,NaN,2.000000e+06,semiconductor,,"{'description': '', 'address1': '2635 North 1s..."
18775,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",[],2009.0,NaN,NaN,consulting,"college, college-admissions, predictions, stat...","{'description': 'Headquarters', 'address1': ''..."
18775,MyChances,2.0,"[{'description': 'Headquarters', 'address1': '...",[],2009.0,NaN,NaN,consulting,"college, college-admissions, predictions, stat...","{'description': 'Menlo Park Office', 'address1..."
18776,Purfresh,NaN,"[{'description': 'HQ', 'address1': '1350 Willo...","[{'id': 8564, 'round_code': 'b', 'source_url':...",1996.0,NaN,6.270000e+07,cleantech,,"{'description': 'HQ', 'address1': '1350 Willow..."
18777,InSound Medical,NaN,"[{'description': '', 'address1': '39660 Eureka...","[{'id': 7373, 'round_code': 'e', 'source_url':...",NaN,NaN,1.100000e+07,biotech,,"{'description': '', 'address1': '39660 Eureka ..."
18779,Getyoo,10.0,"[{'description': 'HQ', 'address1': 'Rue des Ta...","[{'id': 24183, 'round_code': 'seed', 'source_u...",2009.0,NaN,1.267295e+06,mobile,"social-networks, networking, web, real-life, w...","{'description': 'HQ', 'address1': 'Rue des Tan..."
18783,Eazeeloans,25.0,"[{'description': 'Apex Finance & Marketing', '...",[],2006.0,NaN,NaN,web,"personal-loans, home-loans, property-loans, au...","{'description': 'Apex Finance & Marketing', 'a..."
18784,DocASAP,7.0,"[{'description': '', 'address1': '115 5th Ave'...","[{'id': 48079, 'round_code': 'seed', 'source_u...",2012.0,NaN,8.000000e+05,web,"dentist-philadelphia, doctor-appointments","{'description': '', 'address1': '115 5th Ave',..."
18787,OfficialVirtualDJ,102.0,"[{'description': 'Created in London', 'address...","[{'id': 7375, 'round_code': 'a', 'source_url':...",2009.0,2009.0,2.803750e+07,music,"officialvirtualdj, officialvirtualdjmusic, off...","{'description': 'Created in London', 'address1..."
18788,EnterSys Group,NaN,"[{'description': '', 'address1': '13280 NW Fre...",[],2000.0,NaN,NaN,software,,"{'description': '', 'address1': '13280 NW Free..."
18789,Axon Solutions,NaN,"[{'description': '', 'address1': '15 Exchange ...",[],2004.0,NaN,NaN,software,,"{'description': '', 'address1': '15 Exchange P..."
18790,Intergy,NaN,"[{'description': '', 'address1': '11875 Dublin...",[],2003.0,NaN,NaN,software,,"{'description': '', 'address1': '11875 Dublin ..."
18791,Willdan Group,385.0,"[{'description': '', 'address1': '2401 East Ka...",[],NaN,NaN,NaN,other,,"{'description': '', 'address1': '2401 East Kat..."
18793,Contemporary Computer Services,NaN,"[{'description': '', 'address1': '200 Knickerb...",[],1974.0,NaN,NaN,software,,"{'description': '', 'address1': '200 Knickerbo..."
18794,Oriact,NaN,"[{'description': '', 'address1': 'LÃ¤rchenweg ...",[],2009.0,NaN,NaN,software,"collaboration, communication, appliance, softw...","{'description': '', 'address1': 'LÃ¤rchenweg 7..."
18795,AfterLogic,NaN,"[{'description': 'Livingston', 'address1': 'P....",[],2002.0,NaN,NaN,software,,"{'description': 'Livingston', 'address1': 'P.O..."
18796,QSGI,164.0,"[{'description': '', 'address1': '400 Royal Pa...",[],1967.0,NaN,NaN,software,,"{'description': '', 'address1': '400 Royal Pal..."
18797,Adhunk,3.0,"[{'description': 'Indian Office', 'address1': ...",[],2009.0,NaN,NaN,advertising,"adhunk, advertiseing, adhunk-publishers, web-p...","{'description': 'Indian Office', 'address1': '..."
18799,EnteGreat Solutions,NaN,"[{'description': '', 'address1': '', 'address2...",[],NaN,NaN,NaN,software,,"{'description': '', 'address1': '', 'address2'..."
18800,EnteGreat,NaN,"[{'description': '', 'address1': '1900 Interna...","[{'id': 36090, 'round_code': 'unattributed', '...",2000.0,NaN,NaN,enterprise,None,"{'description': '', 'address1': '1900 Internat..."

In [9]:
ndf = ndf [["name", "number_of_employees", "office", "funding_rounds", "founded_year", "deadpooled_year"\
           ,"total_money_raised", "category_code", "tag_list"]]

ndf.reset_index(inplace=True)

In [10]:
def getCoords(data):
    data = data['office']
    
    principal = None
    if data['latitude'] and data['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data['longitude'], data['latitude']]
        }

    return {
        "lat": data['latitude'],
        "lng": data['longitude'],
        "oficina": principal
    }


coordinates = ndf[["office"]].apply(getCoords, result_type="expand", axis=1)

In [11]:
display (coordinates)

,lat,lng,oficina
0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
1,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
2,40.723731,-73.996431,"{'type': 'Point', 'coordinates': [-73.9964312,..."
3,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
4,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
5,NaN,NaN,None
6,37.506885,-122.247573,"{'type': 'Point', 'coordinates': [-122.247573,..."
7,34.025958,-118.379768,"{'type': 'Point', 'coordinates': [-118.379768,..."
8,34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
9,37.484130,-122.169472,"{'type': 'Point', 'coordinates': [-122.169472,..."
10,37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,..."
11,NaN,NaN,None
12,34.057498,-118.446596,"{'type': 'Point', 'coordinates': [-118.446596,..."
13,37.451151,-122.154369,"{'type': 'Point', 'coordinates': [-122.154369,..."
14,34.076179,-118.394170,"{'type': 'Point', 'coordinates': [-118.39417, ..."
15,33.022176,-117.081406,"{'type': 'Point', 'coordinates': [-117.081406,..."
16,37.789634,-122.404052,"{'type': 'Point', 'coordinates': [-122.404052,..."
17,40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ..."
18,53.344104,-6.267494,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
19,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,..."
20,37.387845,-122.055197,"{'type': 'Point', 'coordinates': [-122.055197,..."
21,37.269175,-119.306607,"{'type': 'Point', 'coordinates': [-119.306607,..."
22,40.757725,-73.986011,"{'type': 'Point', 'coordinates': [-73.986011, ..."
23,37.776805,-122.416924,"{'type': 'Point', 'coordinates': [-122.4169244..."
24,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."
25,53.344104,-6.267494,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
26,40.755716,-73.979247,"{'type': 'Point', 'coordinates': [-73.9792469,..."
27,37.295005,-121.930035,"{'type': 'Point', 'coordinates': [-121.930035,..."
28,37.778613,-122.395289,"{'type': 'Point', 'coordinates': [-122.395289,..."
29,NaN,NaN,None
...,...,...,...
16675,37.553121,-122.301534,"{'type': 'Point', 'coordinates': [-122.301534,..."
16676,NaN,NaN,None
16677,NaN,NaN,None
16678,NaN,NaN,None
16679,51.517742,-0.116537,"{'type': 'Point', 'coordinates': [-0.1165365, ..."
16680,NaN,NaN,None
16681,NaN,NaN,None
16682,NaN,NaN,None
16683,37.484616,-122.181753,"{'type': 'Point', 'coordinates': [-122.181753,..."
16684,33.448010,-117.607717,"{'type': 'Point', 'coordinates': [-117.607717,..."
16685,37.386417,-121.929170,"{'type': 'Point', 'coordinates': [-121.92917, ..."
16686,39.394564,-119.812079,"{'type': 'Point', 'coordinates': [-119.8120795..."
16687,37.448491,-122.180281,"{'type': 'Point', 'coordinates': [-122.1802812..."
16688,37.477008,-122.151599,"{'type': 'Point', 'coordinates': [-122.151599,..."
16689,37.512038,-121.998513,"{'type': 'Point', 'coordinates': [-121.998513,..."
16690,50.839970,4.346472,"{'type': 'Point', 'coordinates': [4.3464721, 5..."
16691,NaN,NaN,None
16692,NaN,NaN,None
16693,NaN,NaN,None
16694,29.848779,-95.504545,"{'type': 'Point', 'coordinates': [-95.5045451,..."
16695,40.715887,-74.033251,"{'type': 'Point', 'coordinates': [-74.033251, ..."
16696,37.701940,-121.936698,"{'type': 'Point', 'coordinates': [-121.9366984..."
16697,33.806525,-117.882314,"{'type': 'Point', 'coordinates': [-117.882314,..."
16698,40.775055,-73.088140,"{'type': 'Point', 'coordinates': [-73.08814, 4..."
16699,47.088219,8.437163,"{'type': 'Point', 'coordinates': [8.4371634, 4..."
16700,40.793024,-74.323554,"{'type': 'Point', 'coordinates': [-74.3235539,..."
16701,26.705331,-80.041395,"{'type': 'Point', 'coordinates': [-80.041395, ..."
16702,NaN,NaN,None
16703,33.518885,-86.816068,"{'type': 'Point', 'coordinates': [-86.816068, ..."
16704,33.407786,-86.761302,"{'type': 'Point', 'coordinates': [-86.7613019,..."

In [12]:
df_clean = pd.concat([ndf,coordinates], axis=1)[["name", "number_of_employees", "founded_year", "deadpooled_year"\
           ,"total_money_raised", "category_code", "tag_list","lat","lng","oficina"]]

In [13]:
df_clean.head()

,name,number_of_employees,founded_year,deadpooled_year,total_money_raised,category_code,tag_list,lat,lng,oficina
0,AdventNet,600.0,1996.0,2.0,NaN,enterprise,,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
1,Wetpaint,47.0,2005.0,1.0,39800000.0,web,"wiki, seattle, elowitz, media-industry, media-...",47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
2,Wetpaint,47.0,2005.0,1.0,39800000.0,web,"wiki, seattle, elowitz, media-industry, media-...",40.723731,-73.996431,"{'type': 'Point', 'coordinates': [-73.9964312,..."
3,Zoho,1600.0,2005.0,3.0,NaN,software,"zoho, officesuite, spreadsheet, writer, projec...",37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
4,Digg,60.0,2004.0,NaN,45000000.0,news,"community, social, news, bookmark, digg, techn...",37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."

In [14]:
print(df_clean.shape)
df_clean.dropna(subset=['lat', 'lng'], inplace=True)
print(df_clean.shape)

(16705, 10)
(10834, 10)

In [21]:
df_clean.to_json('./companies_cleaned.json', orient="records")

In [25]:
# Compañías de game_video
companies_game = db.companies_cleaned.find({"category_code":"games_video"})

# Vemos si son GROW
companies_not_deadpool = db.companies_cleaned.find({"deadpooled_year": "null"})
companies_deadpool = db.companies_cleaned.find({"deadpooled_year": {"$ne": "null"}})

# Compañías de design
companies_design = db.companies_cleaned.find({"category_code":"design"})

# Compañías > $1M
companies_one_million = db.companies_cleaned.find({"total_money_raised":{"$gte":1000000}})

# Compañías > $1M
companies_old = db.companies_cleaned.find({"founded_year":{"$gte":2009}})
companies_young = db.companies_cleaned.find({"founded_year":{"$lte":2009}})

In [26]:
pd.DataFrame(companies_game).to_csv("./companies_game.csv")
pd.DataFrame(companies_not_deadpool).to_csv("./companies_not_deadpool.csv")
pd.DataFrame(companies_deadpool).to_csv("./companies_deadpool.csv")
pd.DataFrame(companies_design).to_csv("./companies_design.csv")
pd.DataFrame(companies_one_million).to_csv("./companies_one_million.csv")
pd.DataFrame(companies_old).to_csv("./companies_old.csv")
pd.DataFrame(companies_young).to_csv("./companies_young.csv")

644